* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Raleway', sans-serif;
}

:root{
    --color-purple: #752995;
}

.header {
    margin: 30px;
}

.list-nav {
    padding: 10px;
    list-style-type: none;
    background-color: var(--color-purple);
}

.list-nav_li {
    margin: 0px;
    padding: 10px;
    display: inline;
}

.list-nav a {
    font-weight: bold;
    font-size: 16px;
    font-weight: 2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.list-nav_li:hover {
    background-color: #8b35af;
}

/* Articulos */

/* .section-article {
    border: 1px solid black;
} */

.section-article_h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 100;
    padding-top: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.section-article_baño {
    text-align: center;
    margin-top: 16px;
    float: right;
    width: 400px;
    height: 368px;
    border: 1px solid black;
    background-color: var(--color-purple);
}


.section-article_text {
    width: 948px;
    height: 384px;
    background-image: url("../img/rectangle.png");
}



#div-text {
    padding-top: 20px;
    margin-left: 20px;
}

#div-text h2 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 100;
}

#div-text p {
    font-weight: bold;
}

#div-text h3 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 100;
}

.section-article_btn {
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding: 10px;
    font-weight: bold;
    color: var(--color-purple);
    background-color: #ffffff;
    border: 1px solid var(--color-purple);
    border-radius: 10%;
}

.section-article_btn:hover {
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--color-purple);
    border: 1px solid var(--color-purple);
    border-radius: 10%;
}

/* Servicios */

.section-article_services h1 {
    margin-top: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: var(--color-purple);
    text-shadow: 2px 2px 5px var(--color-purple);
}

.section-article_box {
    text-align: center;
    content: "";
    clear: both;
    display: table;
}

.section-article_content {
    float: left;
    width: 33.33%;
    padding: 50px;
}
.section-article_content h2 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    font-weight: bold;
    color: var(--color-purple);
}
.section-article_content p{
    text-align: start;
    font-weight: bold;
}




/* Footer */



.footer-sede{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../img/footer.png);
}

.footer-sede_box{
    text-align: center;
}



.footer-sede_ul li{
    color: white;
    list-style: none; 
    font-weight: bold;
    text-align: left;
    
}



/* Responsive columns */
/* @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  } */